*{
	margin: 0;
	padding: 0;
	font-size: 0.24rem;
}
.title_bor{
	display: flex;
}
.title_bor div{
	width: 0.14rem;
	background: #773bb3;
	border-radius:0.1rem;
}
.title_bor p{
	padding: 0.1rem;
	font-size: 0.28rem;
}



.content{
	width: 100%;
	padding-bottom: 0.6rem;
}
.header{
	width: 90%;
	margin: 0 auto;
}


/* logo */
.header .logo{
	display: flex;
	padding: 0.2rem 0;
	border-bottom: 0.04rem #000000 solid;
}
.header .logo img{
	width: 0.46rem;
	height: 0.6rem;
	padding: 0.1rem 0.2rem 0 0;
}
.header .logo p{
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.32rem;
}
.header .logo p span{
	font-size: 0.32rem;
}

/* plan_number */
.header .plan_number{
	display: flex;
	justify-content: space-between;
	padding: 0.2rem 0;
}
.header .plan_number img{
	height: 0.8rem;
}
.header .plan_number p{
	height: 0.8rem;
	line-height: 0.8rem;
}

/* user_info */
.header .user_info{
	display: flex;
	justify-content: space-between;
	border-bottom: 0.04rem #000000 solid;
	padding: 0 0 0.2rem 0;
}
.header .user_info p{
	font-weight: bold;
}
.header .user_info p span{
	font-weight: 300;
}

/*  */
.program{
	width: 90%;
	margin: 0 auto;
	padding: 0.4rem 0;
}

/* problem */
.program .problem{
	background: #F1F1F1;
	padding: 0.2rem;
}
.program .problem p:nth-child(1){
	font-size: 0.3rem;
	font-weight: bold;
}
.program .problem p:nth-child(2){
	padding: 0.2rem 0;
}

/* plan */
.program .plan{
	background: #F1F1F1;
	padding: 0.2rem;
	margin-top: 0.4rem;
}
.program .plan p:nth-child(1){
	font-size: 0.3rem;
	font-weight: bold;
}
.program .plan p:nth-child(2){
	padding: 0.2rem 0;
}

/* user_plan */
.user_plan{
	width: 90%;
	margin: 0 auto;
}
.user_plan .title{
	text-align: center;
	color: #773bb3;
	font-weight: bold;
	font-size: 0.36rem;
}

/* cosmetic_info */
.user_plan .cosmetic_info{
	padding: 0.2rem 0;
}
#cosmetic_list .item{
	padding: 0.3rem 0;
	border-bottom: 0.04rem #000000 dashed;
}
#cosmetic_list .item div{
	display: flex;
	padding: 0.1rem 0;
}
#cosmetic_list .item div .item_title{
	width: 18%;
}
#cosmetic_list .item div .item_info{
	width: 82%;
}

/* tutor */
.tutor{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 0.2rem;
	border-bottom: 0.04rem #000000 dashed;
}

/* seal */
.seal{
	width: 90%;
	margin: 0 auto;
	position: relative;
	font-size: 0.32rem;
	padding: 0.4rem 0;
}
.seal p{
	text-align: right;
}
.seal img{
	width: 2rem;
	position: absolute;
	bottom: 0;
	right: 0;
}