*{
	margin: 0;
	padding: 0;
}

.content{
	width: 1000px;
	margin: 0 auto;
	background-color: rgb(252,252,252);
	background-image: url(../img/watermark.png);
	background-position: -150px 0;
	background-size: 40%;
	padding: 0 0 100px 0;
	position: relative;
}


/* header */
.header{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px rgb(61,61,61) solid;
}
.header .left{
	display: flex;
}
.header .left img{
	height: 84px;
	padding: 0 20px;
}
.header .left h3{
	height: 84px;
	line-height: 84px;
	font-size: 30px;
}
.header .right img{
	padding-right: 20px;
}

/* user_info */
.user_info{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	border-bottom: 1px rgb(61,61,61) solid;
}
.user_info div{
	display: flex;
	justify-content: space-between;
	padding: 0 0 20px 0;
}

/* program */
.program{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}
.program div{
	padding: 20px 0;
}
.program div p{
	padding: 10px;
}

/* user_plan */
.user_plan{
	width: 90%;
	margin: 0 auto;
}
.user_plan .title{
	text-align: center;
	color: #773bb3;
	font-weight: bold;
	font-size: 36px;
	padding-bottom: 50px;
}

/*  */
.line{
	display: flex;
	border:  1px rgb(61,61,61) solid;
}
.line .item_name{
	width: 35%;
	padding: 20px 0;
	text-align: center;
	border-right: 1px rgb(61,61,61) solid;
	background: rgb(245,245,245);
	font-weight: bold;
}
.line .item_info{
	width: 65%;
	padding: 20px;
	background: #fff;
}

/* line_top */
.line_top{
	display: flex;
	text-align: center;
	background: #773bb3;
	color: #fff;
	font-weight: bold;
}
.line_top .item_name{
	width: 35%;
	padding: 10px 0;
}
.line_top .item_info{
	width: 65%;
	padding: 10px 20px;
}

/* tutor */
.tutor{
	width: 90%;
	margin: 0 auto;
}
.tutor div{
	border:  1px rgb(61,61,61) solid;
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	font-size: 12px;
}
.tutor div p{
	font-weight: bold;
}
.tutor div span{
	text-decoration:underline
}

/* seal */
.seal{
	width: 200px;
	position: absolute;
	bottom: 40px;
	right: 10px;
}